* {
    margin: 0;
    padding: 0;
}
body {
    background-color: grey;
}
#page {
    background-color: rgba(165, 124, 42, 0.548);
    height: 100%;
    max-height: 809.1px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.box {
    font-size: 30px;
    width: 50px;
    max-width: 50px;
    height: 39px;
    max-height: 39px;
    background-image: url("../images/Empty.png");
    background-size: 50px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
    margin-top: 7.5px;
}
.box img {
    height: 40px;
}
.options {
    margin: 2.5px;
    height: 40px;
    width: 40px;
    border: none;
    background: none;
}
img {
    height: 30px;
}
#submit {
    width: 60px;
    border-radius: 20px;
    height: 25px;
    background-color: darkgrey;
    border: none;
}
.checkBox {
    font-size: 0px;
    line-height: 0px;
    width: 50px;
    max-width: 50px;
    height: 39px;
    max-height: 39px;
    background-image: url("../images/CheckEmpty.png");
    background-size: 50px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
    margin-top: 7.5px;
}
.checkBox img {
    height: 18px;
    float: left;
}
#reset {
    width: 160px;
    height: 25px;
    border-radius: 20px;
    background-color: darkgrey;
    border: none;
}